@import url("framework.css");
html{
    scroll-behavior: smooth;
}
.text{
    font-family: 'Staatliches', cursive;
}
.title{
    text-align: center;
    font-size: 100px;
    padding-top: 150px;
    color: rgb(189, 0, 0);; 
}

/* header */

.logo{
    margin-top: 1rem;
    width: 30%;
    height: auto;
}
header {
    font-size: 150px;
    font-family: 'Staatliches', cursive;
    text-align: center;
}
header>img{
    width: 70%;
    height: auto;
}
header>p>a {
    text-decoration: none;
    color: black;
}
header>p>a:hover {
    color: rgb(189, 0, 0);
    transition: all 500ms;
}
.name{
    font-size: 60px;
    
    width: 100%;
}
.job{
    font-size: 80px;
    width:100%;
    color: rgb(189, 0, 0);
}
.description{
    font-size:50px;
    padding-bottom: 50px;
}

/* projects */

.todo-pic{
    display: block;
    width:100%;
    border: 10px solid black;
    transition: all 500ms;
}
.todo-pic:hover{
    transition: all 500ms;
    transform: scale(1.1);
    box-shadow: 10px 10px 30px black;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "project more quote";
}
.project{
    grid-area: project;
}
.more{
    grid-area: more;
    text-align: center;
    font-size: 60px;
    padding-top: 30px; 
}
.quote{
    grid-area: quote;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

/* dół strony */

footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "email photo linkedin"
        "github photo facebook";  
}
.photo{
    grid-area: photo;
    width: 70%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px;
    background: blue;
}
.email{
    grid-area: email;
    background: rgb(189, 0, 0);;
    border-radius: 50%;
}
.github{
    grid-area: github;
    background: orange;
    border-radius: 50%;
}
.linkedin{
    grid-area: linkedin;
    background: green;
    border-radius: 50%;
}
.facebook{
    grid-area: facebook;
    background: #4893D8;
    border-radius: 50%;
}
footer img{
    width: 10vw;
    border-radius: 50%;
}
footer a{
    place-self: center center;
}
footer img:hover{
    background: white;
    transition: all 500ms;
}
@media (max-width: 1550px){
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "project" 
            "more" 
            "quote";
    }
    .more{
        grid-area: more;
        text-align: center;
        font-size: 80px;
        padding-top: 50px; 
    }
    .quote{
        grid-area: quote;
        text-align: center;
        font-size: 60px;
        padding-top: 50px;
    }
}
@media (max-width: 960px){
    .more{
        font-size: 60px;
    }
    .quote{
        font-size: 40px;
        padding-top:50px;
    }
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "project" 
            "more" 
            "quote";
    }
    .title{
        font-size: 70px;
        padding-top: 100px;
    }
    .talk-is-cheap{
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: white;
        font-size: 25px;
        opacity: 0.6;
        transition: all 500ms;
    }
    .talk-is-cheap:hover{
        opacity: 1;
    }
}
@media (max-width: 655px){
    .mobile{
        visibility: hidden;
    }
    .logo{
        margin-top: 5px;
        width: 50%;
    }
    header {
        font-size: 100px;
    }
    header>img{
        width: 100%;  
    }
    .job{
        font-size: 70px;
    }
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "project" 
            "more" 
            "quote";
    }
    .talk-is-cheap{
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: white;
        font-size: 25px;
        opacity: 0.6;
        transition: all 500ms;
    }
    .talk-is-cheap:hover{
        opacity: 1;
    }
    .more{
        font-size: 40px;
    }
    .quote{ 
        font-size: 25px;
        padding-top:30px;
    }
    .title{
        font-size: 50px;
        padding-top: 50px;
    }
}